body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Welcome{
  color:rgb(25, 25, 201);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background:rgb(0,0,0);
  font-size: 20px;
  width: 100%;
  height: 20vh;
}
.click{
  width: 50%;
  height: 100vh;
  border-radius: 50%;
}

